body {
    margin: 0px;
}
/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #37A;
    position: static;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
li {
    float: left;
    background-color: #359;
}
div.navbuttonHighlighted {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 17px;
    text-decoration: none;
    background-color: #2C8;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s, margin 0.1s;
    margin-bottom: 3px;
    background-color: #37A;
}
li a:hover {
    background-color: #49C;
    margin-top: 0px;
    margin-bottom: 3px;
}
li a:active {
    background-color: #347;
    margin-top: 3px;
    margin-bottom: 0px;
}
/* general stuff */
div.underConstructionNotice {
    position: fixed;
    top: 8%;
    right: -15%;
    font-size: 16px;
    text-align: center;
    background-color: #EC4D3E;
    color: #fff;
    width:50%;
    transform: rotate(35deg);
    font-family: sans-serif;
}
